<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Edytujesz wspólnotę mieszkaniową ' + ${association.getName()}">Wspólnota mieszkaniowa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
<div style="margin-left: 2%; margin-top: 2%">

    <h1 th:text="'Edycja wspólnoty mieszkaniowej ' + ${association.getName()}">Wspólnota mieszkaniowa</h1>

    <br/><br/>

    <div>
        <a href="#" onclick="goBack()">Wróć</a>
    </div>

    <br/>

    <form th:method="post" th:object="${association}">
        <p style="font-weight: bold">Nazwa wspólnoty:</p>
        <input type="text" th:field="*{name}"/><br/><br/>
        <p style="font-weight: bold">Nazwa ulicy:</p>
        <input type="text" th:field="*{streetName}"/><br/><br/>
        <p style="font-weight: bold">Numer domu:</p>
        <input type="text" th:field="*{houseNumber}"/><br/><br/>

        <input type="submit" value="Zapisz"/>

    </form>


</div>
</body>
</html>