<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Mieszkanie nr ' + ${flat.getFlatNumber()}">Mieszkanie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<div style="margin-left: 2%; margin-top: 2%">

    <h1 th:text="'Mieszkanie nr ' + ${flat.getFlatNumber()}">Mieszkanie</h1>

    <div>
        <button  type="button" action="#">Edytuj mieszkanie</button>
        <button  type="button" action="#">Usuń mieszkanie</button>
    </div>

    <br/>

    <p>
        <span style="font-weight: bold">Powierzchnia:  </span>
        <span th:text="${flat.getFlatArea()} + 'm'"></span>
    </p>

    <p>
        <span style="font-weight: bold">Mieszkańcy:  </span>
    </p>
    <ul th:each="occupant: ${occupantList}">
        <a th:href="@{'/occupant/' + ${occupant.getId()}}">
        <li th:text="${occupant.getFirstName()} + ' ' + ${occupant.getLastName()}"></li>
        </a>
    </ul>

</div>
</body>
</html>