<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Mieszkaniec ' + ${occupant.getFirstName()} + ' ' + ${occupant.getLastName()}">Mieszkaniec</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<div style="margin-left: 2%; margin-top: 2%">

    <h1 th:text="'Mieszkanic ' + ${occupant.getFirstName()} + ' ' + ${occupant.getLastName()}">Mieszkaniec</h1>

    <div>
        <button  type="button" action="#">Edytuj mieszkańca</button>
        <button  type="button" action="#">Usuń mieszkańca</button>
    </div>

    <br/>

    <p>
        <span style="font-weight: bold">Płeć:  </span>
        <span th:text="${occupant.getSex().getSexTranslation()}"></span>
    </p>

    <p>
        <span style="font-weight: bold">Zamieszkuje mieszkanie nr:  </span>
        <span th:text="${flat.getFlatNumber()}"></span>
    </p>


</div>
</body>
</html>